@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-primario: #7b3132ff;
  --color-secundario: #000000;
  --color-base: #ffffff;
  --color-desenfoque: #a4a4a4;
  --color-sombra: #ececec; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  font-family: "Montserrat", sans-serif !important; }

.container__header {
  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: 1fr;
  grid-template-areas: "top" "bottom";
  position: relative;
  top: 0;
  z-index: 3;
  width: 100%; }

.container__header .header__top {
  background-color: var(--color-base);
  width: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: top; }
  .container__header .header__top .title {
    color: var(--color-secundario);
    font-size: 40px;
    margin-bottom: 0; }
  .container__header .header__top .img {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 15px 0 15px 0;
    box-shadow: 0px 0px 48px -11px rgba(0, 0, 0, 0.75); }

.container__header .header__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 76px;
  background-color: rgba(0, 0, 0, 0);
  grid-area: bottom; }
  .container__header .header__bottom .nav__list {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 0;
    padding: 5px;
    list-style-type: none; }
    .container__header .header__bottom .nav__list .list .list__link {
      position: relative;
      display: inline-block;
      color: var(--color-base);
      text-decoration: none;
      list-style: none;
      font-size: 1em;
      margin: 5px 16px;
      padding: 5px; }
      .container__header .header__bottom .nav__list .list .list__link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-base);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.5s ease; }
      .container__header .header__bottom .nav__list .list .list__link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }

.banner {
  margin-top: -70px; }

.workpaces .workpaces__encabezado {
  width: 100%;
  height: 300px;
  padding: 1em;
  margin: 60px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .workpaces .workpaces__encabezado .encabezado__titulo {
    font-size: 50px;
    text-align: center; }
  .workpaces .workpaces__encabezado .encabezado__parrafo {
    font-size: 20px; }

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "workspace6 workspace2 workspace2" "workspace1 workspace3 workspace4" "workspace5 workspace5 workspace7";
  gap: 4px;
  background-color: #ffffff;
  padding: 0 150px; }
  .gallery img {
    width: 100%;
    height: 280px; }
  .gallery .gallery__workspace1 {
    grid-area: workspace1; }
  .gallery .gallery__workspace2 {
    grid-area: workspace2; }
  .gallery .gallery__workspace3 {
    grid-area: workspace3; }
  .gallery .gallery__workspace4 {
    grid-area: workspace4; }
  .gallery .gallery__workspace5 {
    grid-area: workspace5; }
  .gallery .gallery__workspace6 {
    grid-area: workspace6; }
  .gallery .gallery__workspace7 {
    grid-area: workspace7; }

.agendaCultural {
  margin: 60px 0;
  display: grid;
  grid-template-rows: 170px repeat(1, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "header" "article1" "article2"; }
  .agendaCultural .agendaCultura__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-area: header; }
    .agendaCultural .agendaCultura__header .header__parrafo {
      font-size: 20px;
      margin: 0; }
    .agendaCultural .agendaCultura__header .header__titulo {
      font-size: 50px; }

.contendor_articulo {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contendor_articulo .articulo {
    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "imgNoticia fecha" "imgNoticia titular" "imgNoticia noticia";
    padding: 20px;
    margin: 20px 15px;
    height: 460px;
    background-color: var(--color-sombra); }
    .contendor_articulo .articulo .articulo__contenedorImg {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      grid-area: imgNoticia; }
      .contendor_articulo .articulo .articulo__contenedorImg .articulo__img {
        width: 100%;
        object-fit: cover; }
    .contendor_articulo .articulo .articulo__noticia .noticia__contenedorHeader {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      grid-area: fecha; }
      .contendor_articulo .articulo .articulo__noticia .noticia__contenedorHeader .contenedorHeader__fecha {
        height: 36px;
        text-align: left;
        line-height: 36px;
        padding: 5px;
        font-size: 12px;
        color: var(--color-desenfoque);
        flex-basis: 100px; }
      .contendor_articulo .articulo .articulo__noticia .noticia__contenedorHeader .contenedorHeader__clasificacion,
      .contendor_articulo .articulo .articulo__noticia .noticia__contenedorHeader .contenedorHeader__categoria {
        width: 80px;
        text-align: center;
        background-color: var(--color-primario);
        color: var(--color-base);
        padding: 5px; }
    .contendor_articulo .articulo .articulo__noticia .noticia__contenedorBody {
      max-width: 400px; }
      .contendor_articulo .articulo .articulo__noticia .noticia__contenedorBody .contenedorBody__titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 110px;
        margin: 0 10px;
        font-size: 25px;
        margin-bottom: 0;
        grid-area: titular; }
      .contendor_articulo .articulo .articulo__noticia .noticia__contenedorBody .contenedorBody__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 215px;
        margin: 0 10px;
        grid-area: noticia; }
