.agendaCultural{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .agendaCultura__header{
        @extend %flexCenter-column;
        margin: 20px;

        .header__parrafo{
            font-size: 20px;
            margin-bottom: 0;
        }

        .header__titulo{
            font-size: 50px;
        }
    }

    .contendor_articulo{
        @extend %flexCenter-column;
        gap:15px;
        width: 70%;

        @include Tablet-l{
            width: 90%;
        }
        @include Tablet-s{
            width: 100%;
        }

        .articulo{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 10% 30% 60%;
            grid-template-areas: 
            "boxHeader boxHeader"
            "boxImg boxNoticia"
            "boxImg boxNoticia";
            background-color: $color-sombra;
            padding: 10px;

            @include Tablet-s{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 20% 30% 60%;
                grid-template-areas: 
                "boxHeader boxHeader"
                "boxNoticia boxNoticia"
                "boxNoticia boxNoticia";

                height: auto;
            }

            .noticia__contenedorHeader{
                grid-area: boxHeader;
                
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                gap: 10px;
                text-align: center;
                margin: 0 20px;

                @include Mobile{
                    margin: 0 5px;
                }

                .contenedorHeader__fecha{
                    font-size: 14px;
                    color: $color-fecha;
                    padding: 5px;
                }

                .contenedorHeader__clasificacion,
                .contenedorHeader__categoria{
                    color: $color-texto;
                    background-color: $color-primario;
                    padding: 5px;
                    width: 80px;

                }
            }
            .articulo__contenedorImg{
                grid-area: boxImg;

                @extend %flexCenter-row;

                .articulo__img{
                    @include Desktop-xxl{
                        width: 300px;
                        height: 300px;
                    }
                    @include Desktop-m{
                        width: 250px;
                        height: 250px;
                    }
                    @include Tablet-s{
                        display: none;
                    }
                }

            }
            .noticia__contenedorBody{
                grid-area: boxNoticia;

                @extend %flexCenter-column;

                .contenedorBody__titulo,
                .contenedorBody__contenido{
                    padding: 6px;
                    text-align:start;
                    
                }
                .contenedorBody__titulo{
                    @include Tablet-s{
                        font-size: 20px;
                        margin-bottom: 2px;
                    }
                }
                .contenedorBody__contenido p{
                    margin-bottom: 10px;
                }
                .contenedorBody__contenido a button{
                    margin-bottom: 15px;
                }
                
            }
        }
    }
}