.gallery{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "workspace6 workspace2 workspace2"
    "workspace1 workspace3 workspace4"
    "workspace5 workspace5 workspace7";
    gap: 4px;
    background-color: #ffffff;
    padding: 0 150px;

    img{
        width: 100%;
        height: 280px;
    }

    .gallery__workspace1{
        grid-area: workspace1;
    }
    .gallery__workspace2{
        grid-area: workspace2;
    }
    .gallery__workspace3{
        grid-area: workspace3;
    }
    .gallery__workspace4{
        grid-area: workspace4;
    }
    .gallery__workspace5{
        grid-area: workspace5;
    }
    .gallery__workspace6{
        grid-area: workspace6;
    }
    .gallery__workspace7{
        grid-area: workspace7;
    }
}