@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$color-primario: #7b3132ff;
$color-secundario: #000000;
$color-texto: #ffffff;
$color-base: #171717;
$color-fecha: #a4a4a4;
$color-sombra: #ececec;
$color-transparente: rgba(0,0,0,0.0);
$color-whatsapp: #4aca59ff; 
$color-capa1: rgba(74, 202, 89, 0.672);
$color-capa2: rgba(74, 202, 89, 0.369);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Montserrat", sans-serif !important;
}


%flexCenter-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flexCenter-column{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

%flexStart-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
